#scrollButton {
  border-style: hidden;
  top: 100px;
  /*background-color: #46C6F0;*/
  background-color: transparent;

  position: relative;
}

.exofont {
  font-family: 'Exo', sans-serif;
}

.navIcons {
  color: black;
  margin-top: -5px;
}

.fa-fighter-jet {
  color: black;
}

.fa-fighter-jet:hover {
  color: white;
}

.intro-text {
  color: black;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
}

.intro-section h1 {
  font-size: 7em;
  color: white;
  /*text-shadow: 5px -5px black;*/
  text-shadow: black 5px -5px 0, black 4px -4px 0, black 3px -3px 0, black 2px -2px 0, black 1px -1px 0;
}

.intro-section p {
  color: black;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
}

.social a {
  color: black;
}
/*
.social .fa-phone {
  color: white;
}

.social .fa-envelope {
  color: white;
}
*/
