#scrollButton {
  border-style: hidden;
  top: 100px;
  background-color: transparent;
  position: relative;
}

.exofont {
  font-family: 'Exo', sans-serif;
}

.navIcons {
  color: black;
  margin-top: -5px;
}

.fa-fighter-jet {
  color: black;
  outline-color: white;
}

.fa-fighter-jet:hover {
  color: white;
}

.intro-text {
  color: black;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
}

.intro-section h1 {
  font-size: 7em;
  color: white;
  text-shadow: black 5px -5px , black 4px -4px 0, black 3px -3px 0, black 2px -2px 0, black 1px -1px 0;
}

.intro-section p {
  color: black;
  font-family: 'Exo', sans-serif;
  font-weight: 800;
}

.social a {
  color: black;
}

nav {
  display: none;
}


#big-name {
  color: black;
  text-align: left;
  font-family: 'Exo', sans-serif;
  font-size: 6em;
  text-shadow: 1px -1px #46C6F0, 2px -2px black;
}

.about-text {
  text-align: left;
  font-family: 'Exo', sans-serif;
  color: black;
  font-size: 1.8em;
}

#headshot {
  zoom: 59%;
  border-radius: 50%;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin: 0 auto;
}

#headshot:hover {
  border-radius: 0;
}

#firstSet {
  top: 15%;
  position: fixed;
  -webkit-transform: translateZ(0);
  z-index: 2;
}

.bioWill2 {
  text-align: center;
  font-family: 'Exo', sans-serif;
  font-weight: bold;
  font-size: 1.5em;
}

@media screen and (max-width: 768px) {
    #big-name {
        font-size: 4em;
    }

    #headshot {
      top-margin: 25px;
    }
}

.textRight {
  text-align: right;
}
